#index {
  text-align: center;
  padding: 3% 0 0; }

.homepage-headline {
  font-size: 10em; }

.homepage-title {
  font-family: prenton;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 3em;
  line-height: 1.3em;
  letter-spacing: 10px;
  position: relative;
  left: 11px;
  text-shadow: 0 2px 2px white; }

.homepage-mission-statement {
  font-family: minion-pro;
  line-height: 1.3em;
  position: relative; }

#homepage-links {
  margin: 2em 0;
  letter-spacing: 1em; }

a.homepage-link {
  font-size: 2.1em;
  text-shadow: 0px 0px 7px #030303;
  color: transparent;
  transition-property: text-shadow;
  transition-duration: .05s; }
  a.homepage-link:hover {
    text-shadow: 0 0 3px rgba(255, 245, 0, 0.95), 0 0 7px #030303; }

/*p {*/
/*font-size: 1.2em;*/
/*margin: 100px 0;*/
/*a {*/
/*border-bottom: 1px solid rgb(134, 125, 125);*/
/*color: rgb(134, 125, 125);*/
/*padding-bottom: 5px;*/
/*&:hover {*/
/*text-decoration: none;*/
/*}*/
/*}*/
/*}*/
#blog {
  margin: 0;
  padding: 0; }
  #blog body {
    margin: 0;
    padding: 0;
    background: #eeedda; }
  #blog .ligature {
    line-height: 1em; }
  #blog h1 {
    font-family: tangerine;
    font-size: 8em;
    line-height: 2em;
    margin: 0; }
  #blog hgroup {
    text-align: center; }
  #blog #content .container {
    /*@include box-shadow(0 0 10px -6px black);*/
    background: #eeeeeb;
    padding: 30px;
    /*@include border-top-right-radius(10px);*/
    /*@include border-top-left-radius(10px);*/
    min-height: 100%; }
    #blog #content .container .post {
      width: 58em;
      margin: 3em auto; }
      #blog #content .container .post h2 {
        font-family: minion-pro; }
      #blog #content .container .post p {
        line-height: 2em; }

body {
  background: #eeedda; }

h1, h2, h3, h4, h5, h6, p {
  color: #303030; }

.branded-headline {
  text-shadow: 0 -2px 0 #49869c;
  font-family: tangerine;
  line-height: 1em;
  margin-bottom: 0.2em; }

@media (max-width: 500px) {
  body {
    font-size: 0.38em; }

  .homepage-title {
    font-size: 1.4em;
    line-height: 5em;
    font-weight: 900; }

  .homepage-mission-statement {
    font-size: 3.5em;
    font-weight: 100;
    line-height: 1.4em; } }

