@import 'index';
@import 'blog';

body {
  background: rgb(238, 237, 218);
}

h1, h2, h3, h4, h5, h6, p {
  color: #303030;
}

.branded-headline {
  text-shadow: 0 -2px 0 #49869c;
  font-family: tangerine;
  line-height: 1em;
  margin-bottom: .2em
}

@media (max-width: 500px) {
  body {
    font-size: 0.38em;
  }

  .homepage-title {
    font-size: 1.4em;
    line-height: 5em;
    font-weight: 900;
  }

  .homepage-mission-statement {
    font-size: 3.5em;
    font-weight: 100;
    line-height: 1.4em;
  }
}
