#index {
  text-align: center;
  padding: 3% 0 0;
}

.homepage-headline {
  font-size: 10em;
}

.homepage-title {
  font-family: prenton;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 3em;
  line-height: 1.3em;
  letter-spacing: 10px;
  position: relative;
  left: 11px;
  text-shadow: 0 2px 2px rgb(255, 255, 255);
}

.homepage-mission-statement {
  font-family: minion-pro;
  line-height: 1.3em;
  position: relative;
}

#homepage-links {
  margin: 2em 0;
  letter-spacing: 1em;
}

a.homepage-link {
  font-size: 2.1em;
  text-shadow: 0px 0px 7px #030303;
  color: transparent;
  transition-property: text-shadow;
  transition-duration: .05s;

  &:hover {
    text-shadow: 0 0 3px rgba(255, 245, 0, .95), 0 0 7px #030303;
  }
}

/*p {*/
  /*font-size: 1.2em;*/
  /*margin: 100px 0;*/

  /*a {*/
    /*border-bottom: 1px solid rgb(134, 125, 125);*/
    /*color: rgb(134, 125, 125);*/
    /*padding-bottom: 5px;*/

    /*&:hover {*/
      /*text-decoration: none;*/
    /*}*/
  /*}*/
/*}*/

