{% capture category_classes %}{% for category in categories %}category-{{ category }}{% endfor %}{% endcapture %}
<html id="{{ page.id }}" class="{{ category_classes }}">
  <head>
    <title>{{ page.title }}</title>
    <link href="//cdn.jsdelivr.net/foundation/4.1.2/css/foundation.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/application.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/assets/ss-standard.css">
    <link rel="stylesheet" href="/assets/ss-social.css">
    <script type="text/javascript" src="//use.typekit.net/rko3flb.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    {{ content }}
    <script type="text/javascript" src="/assets/application.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31193988-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
