{% capture category_classes %}{% for category in categories %}category-{{ category }}{% endfor %}{% endcapture %}
<html id="{{ page.id }}" class="{{ category_classes }}">
  <head>
    <title>{{ page.title }}</title>
    <link href="/assets/application.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="//use.typekit.net/rko3flb.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <!--<div class="navbar navbar-static-top" id="primary">-->
      <!--<div class="navbar-inner">-->
        <!--<div class="container">-->
          <!--<span class="brand">Ben Bergstein</span>-->
          <!--<ul class="nav pull-left"></ul>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    {{ content }}
    <script type="text/javascript" src="/assets/application.js"></script>
  </body>
</html>
