{% capture category_classes %}{% for category in categories %}category-{{ category }}{% endfor %}{% endcapture %}
<html>
  <head>
    <title>
      {{ page.title }}
    </title>

    <meta name="description" content="{{ page.description }}" />
    
    <link href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/foundation.css" type="text/css" rel="stylesheet" />
    
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" type="text/css" rel="stylesheet" />
    
    <link href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/styles/default.min.css" type="text/css" rel="stylesheet" />

    <link href="/assets/site.css" rel="stylesheet" type="text/css" />
    
    <link href="/assets/highlight.css" rel="stylesheet" type="text/css" />
  </head>
  
  <body id="{{ page.id }}" class="{{ category_classes }}">
    
    {{ content }}

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/gist-embed/1.6/gist-embed.min.js"></script>
    
    <script type="text/javascript" src="//use.typekit.net/rko3flb.js"></script>

    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31193988-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>